/* .create-cyrcle{
cursor: pointer;
}
#cyrcle{
/* width: 400px;
height: 200px; */
/* border: 3px solid black;
margin: 40px; */


body {
        padding: 20px;
      }

      .create-interface {
        padding: 5px 10px;
        cursor: pointer;
      }

      .interface {
        margin: 10px 0;
      }

      .create-circles,
      .diametr-value {
        padding: 5px 10px;
      }

      .content {
        padding: 10px;
        border: 1px solid #000;
      }

      .circle {
        margin: 5px;
        border: 1px solid #000;
        border-radius: 50%;
        cursor: pointer;
      }

      .content-circles {
        border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
      }
